body {
  margin:0;
  font-family: Arial;
  background:#000;
  color:#fff;
}

header {
  background:#111;
  text-align:center;
  padding:20px;
  border-bottom:2px solid gold;
}

header h1 {
  color:gold;
}

.category {
  padding:30px;
}

.category h2 {
  color:gold;
  margin-bottom:15px;
}

.products {
  display:flex;
  flex-wrap:wrap;
  gap:20px;
}

.card {
  background:#111;
  width:250px;
  padding:15px;
  border-radius:10px;
  border:1px solid gold;
}

.card img {
  width:100%;
  border-radius:8px;
}

.card h3 {
  color:gold;
  margin:10px 0 5px;
}

.contact {
  text-align:center;
  padding:40px;
  background:#111;
}

.btn {
  background:gold;
  color:#000;
  padding:12px 25px;
  text-decoration:none;
  font-weight:bold;
  border-radius:30px;
}

footer {
  text-align:center;
  padding:10px;
  background:#000;
  border-top:1px solid gold;
}
